.body-default {
    cursor: auto;
    outline: rgb(113, 132, 173) none 0px;
    padding: 0px;
    margin: 0px;
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    color: rgb(113, 132, 173);
    text-align: start;
    background-color: rgb(246, 249, 252);
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

.header-wrapper {
    display: none;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 742.4px;
    position: fixed;
    z-index: 2147483647;
    top: 0px;
    left: 0px;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.5s;
    outline: rgb(113, 132, 173) none 0px;
    box-sizing: border-box;
}

.header-content {
    margin: 0px;
    padding: 0px;
    outline: rgb(113, 132, 173) none 0px;
    box-sizing: border-box;
}

.header-item {
    animation-delay: -0.2s;
    background-color: rgb(47, 44, 216);
    width: 4px;
    height: 35px;
    border-radius: 2px;
    margin: 2px 0.5px;
    display: inline-block;
    padding: 0px;
    outline: rgb(113, 132, 173) none 0px;
    box-sizing: border-box;
}

.nav-wrapper {
    background: rgb(47, 44, 216) none repeat scroll 0% 0% / auto padding-box border-box;
    position: fixed;
    left: 0px;
    height: 100vh;
    width: 120px;
    top: 0px;
    z-index: 3;
    bottom: 0px;
    border-radius: 0px;
    box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
    margin: 0px;
    padding: 0px;
    outline: rgb(113, 132, 173) none 0px;
    box-sizing: border-box;
}

.nav-logo {
    margin: 20px;
    margin-top: 60px;
    text-align: center;
    padding: 0px;
    outline: rgb(113, 132, 173) none 0px;
    box-sizing: border-box;
}

.nav-logo-link {
    color: rgb(47, 44, 216);
    text-decoration: none solid rgb(47, 44, 216);
    outline: rgb(47, 44, 216) none 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-logo-img {
    max-width: 100%;
    display: block;
    filter: brightness(100);
    outline: rgb(47, 44, 216) none 0px;
    padding: 0px;
    vertical-align: middle;
    margin: 10px;
    filter: invert(100%) brightness(200%);
    box-sizing: border-box;
}

.nav-menu {
    margin-top: 30px;
    padding: 20px;
    position: relative;
    outline: rgb(113, 132, 173) none 0px;
    box-sizing: border-box;
}

.nav-list {
    padding: 0px;
    margin: 0px;
    outline: rgb(113, 132, 173) none 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    box-sizing: border-box;
}

.nav-list-item {
    margin-bottom: 8px;
    border-radius: 6px;
    list-style: outside none none;
    outline: rgb(113, 132, 173) none 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-link {
    padding: 5px 25px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-height: 80px;
    color: rgb(113, 132, 173);
    text-decoration: none solid rgb(113, 132, 173);
    outline: rgb(113, 132, 173) none 0px;
    box-sizing: border-box;
}

.nav-icon {
    outline: rgb(113, 132, 173) none 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-text {
    display: none;
    padding: 3px 8px;
    border-radius: 4px;
    box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
    outline: rgb(113, 132, 173) none 0px;
    box-sizing: border-box;
}

.footer-wrapper {
    background: rgb(246, 249, 252) none repeat scroll 0% 0% / auto padding-box border-box;
    padding: 20px 0px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 80px;
    border-radius: 6px;
    margin: 0px;
    outline: rgb(113, 132, 173) none 0px;
    box-sizing: border-box;
}

.footer-content {
    max-width: 1320px;
    margin: 0px 41.6px;
    padding: 0px 15px;
    outline: rgb(113, 132, 173) none 0px;
    --bs-gutter-x: 30px;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.footer-section {
    margin: 0px -15px;
    padding: 0px;
    outline: rgb(113, 132, 173) none 0px;
    --bs-gutter-x: 30px;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: border-box;
}

.footer-social {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: 50%;
    margin: 0px;
    padding: 0px 15px;
    outline: rgb(113, 132, 173) none 0px;
    flex-shrink: 0;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 0px;
    box-sizing: border-box;
}

.footer-social-list {
    text-align: right;
    margin: 0px;
    padding: 0px;
    outline: rgb(113, 132, 173) none 0px;
    box-sizing: border-box;
}

.social-icons {
    padding: 0px;
    margin: 0px;
    outline: rgb(113, 132, 173) none 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    box-sizing: border-box;
}

.social-icon-item {
    display: inline-block;
    list-style: outside none none;
    outline: rgb(113, 132, 173) none 0px;
    padding: 0px;
    box-sizing: border-box;
}

.social-icon-link {
    color: rgb(113, 132, 173);
    padding: 0px 10px;
    text-decoration: none solid rgb(113, 132, 173);
    outline: rgb(113, 132, 173) none 0px;
    box-sizing: border-box;
}

.social-icon {
    line-height: 0px;
    outline: rgb(113, 132, 173) none 0px;
    padding: 0px;
    box-sizing: border-box;
}

.addon {
    font-size: 30px;
    color: white;
}

.style-8 {
            margin: 110px 0px 0px;
            padding: 0px;
            opacity: 1;
            transition: all 0.25s ease-in 0s;
            position: relative;
            z-index: 1;
            margin-top: 110px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

.style-9 {
            padding: 20px 0px;
            position: fixed;
            top: 0px;
            left: 80px;
            right: 0px;
            z-index: 2;
            background: rgb(246, 249, 252) none repeat scroll 0% 0% / auto padding-box border-box;
            margin: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-10 {
            max-width: 1320px;
            margin: 0px 41.6px;
            padding: 0px 15px;
            outline: rgb(113, 132, 173) none 0px;
            --bs-gutter-x: 30px;
            --bs-gutter-y: 0;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            box-sizing: border-box;
        }

        .style-11 {
            margin: 0px -15px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            --bs-gutter-x: 30px;
            --bs-gutter-y: 0;
            display: flex;
            flex-wrap: wrap;
            margin-top: 0px;
            margin-right: -15px;
            margin-left: -15px;
            box-sizing: border-box;
        }

        .style-12 {
            -webkit-box-flex: 0;
            flex: 0 0 auto;
            width: 100%;
            margin: 0px;
            padding: 0px 15px;
            outline: rgb(113, 132, 173) none 0px;
            flex-shrink: 0;
            max-width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-13 {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-14 {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-15 {
            margin: 20px;
            text-align: center;
            display: none;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-16 {
            color: rgb(47, 44, 216);
            text-decoration: none solid rgb(47, 44, 216);
            outline: rgb(47, 44, 216) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-17 {
            max-width: 100%;
            display: block;
            filter: brightness(100);
            outline: rgb(47, 44, 216) none 0px;
            padding: 0px;
            vertical-align: middle;
            box-sizing: border-box;
        }

        .style-18 {
            min-width: 450px;
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-19 {
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-20 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            -webkit-box-align: stretch;
            align-items: stretch;
            width: 100%;
            box-sizing: border-box;
        }

        .style-21 {
            border-radius: 6px 0px 0px 6px;
            height: 45px;
            padding: 0px 22px;
            font-size: 14px;
            color: rgb(15, 23, 42);
            background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
            border-bottom-left-radius: 6px;
            border-top-left-radius: 6px;
            outline: rgb(15, 23, 42) none 0px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            position: relative;
            -webkit-box-flex: 1;
            flex: 1 1 auto;
            width: 1%;
            min-width: 0px;
            display: block;
            font-weight: 400;
            line-height: 22.4px;
            appearance: none;
            background-color: rgb(255, 255, 255);
            -webkit-background-clip: border-box;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
            margin: 0px;
            font-family: Rubik, sans-serif;
            box-sizing: border-box;
            -webkit-background-clip: border-box;
        }

        .style-22 {
            padding: 11px 15px;
            background: rgb(47, 44, 216) none repeat scroll 0% 0% / auto padding-box border-box;
            color: rgb(255, 255, 255);
            border-color: rgb(229, 234, 239);
            border-radius: 0px 6px 6px 0px;
            height: 45px;
            margin-bottom: 0px;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            outline: rgb(255, 255, 255) none 0px;
            margin-left: -1px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            font-size: 14px;
            font-weight: 400;
            line-height: 22.4px;
            text-align: center;
            white-space: nowrap;
            background-color: rgb(47, 44, 216);
            border: 0.8px solid rgb(229, 234, 239);
            box-sizing: border-box;
        }

        .style-23 {
            color: rgb(255, 255, 255);
            line-height: 0px;
            outline: rgb(255, 255, 255) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-24 {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-25 {
            margin-right: 15px;
            cursor: pointer;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-26 {
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-27 {
            font-size: 22px;
            position: relative;
            top: 4px;
            line-height: 0px;
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-28 {
            display: none;
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-29 {
            font-size: 22px;
            position: relative;
            top: 4px;
            line-height: 0px;
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-30 {
            cursor: pointer;
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            position: relative;
            box-sizing: border-box;
        }

        .style-31 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-32 {
            height: 40px;
            width: 40px;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            border-radius: 50%;
            background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
            margin-right: 10px;
            margin: 0px 10px 0px 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-33 {
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-34 {
            font-size: 20px;
            color: rgb(113, 132, 173);
            position: relative;
            top: 4px;
            line-height: 0px;
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-35 {
            border: 0px none rgb(113, 132, 173);
            padding: 15px 20px 10px;
            margin: 0px;
            width: 330px;
            box-shadow: rgba(27, 25, 148, 0.08) 0px 36px 48px 0px;
            border-radius: 5px;
            background-color: rgb(255, 255, 255);
            top: 25px;
            outline: rgb(113, 132, 173) none 0px;
            --bs-position: end;
            --bs-dropdown-zindex: 1000;
            --bs-dropdown-min-width: 10rem;
            --bs-dropdown-padding-x: 0;
            --bs-dropdown-padding-y: 0.5rem;
            --bs-dropdown-spacer: 0.125rem;
            --bs-dropdown-font-size: 0.875rem;
            --bs-dropdown-color: #7184ad;
            --bs-dropdown-bg: #F6F9FC;
            --bs-dropdown-border-color: rgba(0, 0, 0, 0.175);
            --bs-dropdown-border-radius: 6px;
            --bs-dropdown-border-width: 1px;
            --bs-dropdown-inner-border-radius: calc(6px - 1px);
            --bs-dropdown-divider-bg: rgba(0, 0, 0, 0.175);
            --bs-dropdown-divider-margin-y: 0.5rem;
            --bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            --bs-dropdown-link-color: #7184ad;
            --bs-dropdown-link-hover-color: #7184ad;
            --bs-dropdown-link-hover-bg: rgb(243, 244, 246);
            --bs-dropdown-link-active-color: #fff;
            --bs-dropdown-link-active-bg: #2F2CD8;
            --bs-dropdown-link-disabled-color: rgba(113, 132, 173, 0.5);
            --bs-dropdown-item-padding-x: 1rem;
            --bs-dropdown-item-padding-y: 0.25rem;
            --bs-dropdown-header-color: rgb(75, 85, 99);
            --bs-dropdown-header-padding-x: 1rem;
            --bs-dropdown-header-padding-y: 0.5rem;
            position: absolute;
            z-index: 1000;
            display: none;
            min-width: 160px;
            font-size: 14px;
            color: rgb(113, 132, 173);
            text-align: left;
            list-style: outside none none;
            -webkit-background-clip: padding-box;
            box-sizing: border-box;
            -webkit-background-clip: padding-box;
        }

        .style-36 {
            outline: rgb(31, 44, 115) none 0px;
            padding: 0px;
            font-size: 18px;
            margin-top: 0px;
            margin-bottom: 8px;
            font-weight: 500;
            line-height: 28.8px;
            color: rgb(31, 44, 115);
            box-sizing: border-box;
        }

        .style-37 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-38 {
            display: block;
            border-bottom: 0.8px solid rgb(229, 234, 239);
            padding: 10px 0px;
            color: rgb(47, 44, 216);
            text-decoration: none solid rgb(47, 44, 216);
            outline: rgb(47, 44, 216) none 0px;
            box-sizing: border-box;
        }

        .style-39 {
            margin: 0px;
            padding: 0px;
            outline: rgb(47, 44, 216) none 0px;
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            box-sizing: border-box;
        }

        .style-40 {
            background: rgb(18, 163, 71) none repeat scroll 0% 0% / auto padding-box border-box;
            height: 40px;
            width: 40px;
            color: rgb(255, 255, 255);
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            border-radius: 50px;
            font-size: 13px;
            outline: rgb(255, 255, 255) none 0px;
            padding: 0px;
            margin-right: 16px;
            box-sizing: border-box;
        }

        .style-41 {
            font-size: 20px;
            line-height: 0px;
            outline: rgb(255, 255, 255) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-42 {
            margin: 0px;
            padding: 0px;
            outline: rgb(47, 44, 216) none 0px;
            box-sizing: border-box;
        }

        .style-43 {
            margin-bottom: 0px;
            color: rgb(31, 44, 115);
            font-weight: 500;
            font-size: 14px;
            outline: rgb(31, 44, 115) none 0px;
            padding: 0px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-44 {
            font-size: 13px;
            color: rgb(113, 132, 173);
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-45 {
            display: block;
            border-bottom: 0.8px solid rgb(229, 234, 239);
            padding: 10px 0px;
            color: rgb(47, 44, 216);
            text-decoration: none solid rgb(47, 44, 216);
            outline: rgb(47, 44, 216) none 0px;
            box-sizing: border-box;
        }

        .style-46 {
            margin: 0px;
            padding: 0px;
            outline: rgb(47, 44, 216) none 0px;
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            box-sizing: border-box;
        }

        .style-47 {
            background: rgb(220, 38, 38) none repeat scroll 0% 0% / auto padding-box border-box;
            height: 40px;
            width: 40px;
            color: rgb(255, 255, 255);
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            border-radius: 50px;
            font-size: 13px;
            outline: rgb(255, 255, 255) none 0px;
            padding: 0px;
            margin-right: 16px;
            box-sizing: border-box;
        }

        .style-48 {
            font-size: 20px;
            line-height: 0px;
            outline: rgb(255, 255, 255) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-49 {
            margin: 0px;
            padding: 0px;
            outline: rgb(47, 44, 216) none 0px;
            box-sizing: border-box;
        }

        .style-50 {
            margin-bottom: 0px;
            color: rgb(31, 44, 115);
            font-weight: 500;
            font-size: 14px;
            outline: rgb(31, 44, 115) none 0px;
            padding: 0px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-51 {
            font-size: 13px;
            color: rgb(113, 132, 173);
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-52 {
            display: block;
            border-bottom: 0.8px solid rgb(229, 234, 239);
            padding: 10px 0px;
            color: rgb(47, 44, 216);
            text-decoration: none solid rgb(47, 44, 216);
            outline: rgb(47, 44, 216) none 0px;
            box-sizing: border-box;
        }

        .style-53 {
            margin: 0px;
            padding: 0px;
            outline: rgb(47, 44, 216) none 0px;
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            box-sizing: border-box;
        }

        .style-54 {
            background: rgb(18, 163, 71) none repeat scroll 0% 0% / auto padding-box border-box;
            height: 40px;
            width: 40px;
            color: rgb(255, 255, 255);
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            border-radius: 50px;
            font-size: 13px;
            outline: rgb(255, 255, 255) none 0px;
            padding: 0px;
            margin-right: 16px;
            box-sizing: border-box;
        }

        .style-55 {
            font-size: 20px;
            line-height: 0px;
            outline: rgb(255, 255, 255) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-56 {
            margin: 0px;
            padding: 0px;
            outline: rgb(47, 44, 216) none 0px;
            box-sizing: border-box;
        }

        .style-57 {
            margin-bottom: 0px;
            color: rgb(31, 44, 115);
            font-weight: 500;
            font-size: 14px;
            outline: rgb(31, 44, 115) none 0px;
            padding: 0px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-58 {
            font-size: 13px;
            color: rgb(113, 132, 173);
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-59 {
            border: 0px none rgb(47, 44, 216);
            display: block;
            border-bottom: 0px none rgb(47, 44, 216);
            padding: 10px 0px;
            color: rgb(47, 44, 216);
            text-decoration: none solid rgb(47, 44, 216);
            outline: rgb(47, 44, 216) none 0px;
            box-sizing: border-box;
        }

        .style-60 {
            margin: 0px;
            padding: 0px;
            outline: rgb(47, 44, 216) none 0px;
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            box-sizing: border-box;
        }

        .style-61 {
            background: rgb(251, 168, 1) none repeat scroll 0% 0% / auto padding-box border-box;
            height: 40px;
            width: 40px;
            color: rgb(255, 255, 255);
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            border-radius: 50px;
            font-size: 13px;
            outline: rgb(255, 255, 255) none 0px;
            padding: 0px;
            margin-right: 16px;
            box-sizing: border-box;
        }

        .style-62 {
            font-size: 20px;
            line-height: 0px;
            outline: rgb(255, 255, 255) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-63 {
            margin: 0px;
            padding: 0px;
            outline: rgb(47, 44, 216) none 0px;
            box-sizing: border-box;
        }

        .style-64 {
            margin-bottom: 0px;
            color: rgb(31, 44, 115);
            font-weight: 500;
            font-size: 14px;
            outline: rgb(31, 44, 115) none 0px;
            padding: 0px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-65 {
            font-size: 13px;
            color: rgb(113, 132, 173);
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-66 {
            display: flex;
            -webkit-box-pack: end;
            justify-content: flex-end;
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-67 {
            color: rgb(47, 44, 216);
            text-decoration: none solid rgb(47, 44, 216);
            outline: rgb(47, 44, 216) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-68 {
            position: relative;
            top: 4px;
            margin-left: 5px;
            font-size: 12px;
            line-height: 0px;
            outline: rgb(47, 44, 216) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-69 {
            cursor: pointer;
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            position: relative;
            box-sizing: border-box;
        }

        .style-70 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-71 {
            background: rgb(47, 44, 216) none repeat scroll 0% 0% / auto padding-box border-box;
            box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
            height: 40px;
            width: 40px;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            border-radius: 50%;
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-72 {
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-73 {
            font-size: 16px;
            color: rgb(255, 255, 255);
            position: relative;
            top: 4px;
            line-height: 0px;
            outline: rgb(255, 255, 255) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-74 {
            border: 0px none rgb(113, 132, 173);
            padding: 0px;
            margin: 0px;
            box-shadow: rgba(22, 28, 45, 0.15) 0px 24px 64px 0px;
            border-radius: 5px;
            background-color: rgb(255, 255, 255);
            min-width: 240px;
            top: 25px;
            outline: rgb(113, 132, 173) none 0px;
            --bs-position: end;
            --bs-dropdown-zindex: 1000;
            --bs-dropdown-min-width: 10rem;
            --bs-dropdown-padding-x: 0;
            --bs-dropdown-padding-y: 0.5rem;
            --bs-dropdown-spacer: 0.125rem;
            --bs-dropdown-font-size: 0.875rem;
            --bs-dropdown-color: #7184ad;
            --bs-dropdown-bg: #F6F9FC;
            --bs-dropdown-border-color: rgba(0, 0, 0, 0.175);
            --bs-dropdown-border-radius: 6px;
            --bs-dropdown-border-width: 1px;
            --bs-dropdown-inner-border-radius: calc(6px - 1px);
            --bs-dropdown-divider-bg: rgba(0, 0, 0, 0.175);
            --bs-dropdown-divider-margin-y: 0.5rem;
            --bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            --bs-dropdown-link-color: #7184ad;
            --bs-dropdown-link-hover-color: #7184ad;
            --bs-dropdown-link-hover-bg: rgb(243, 244, 246);
            --bs-dropdown-link-active-color: #fff;
            --bs-dropdown-link-active-bg: #2F2CD8;
            --bs-dropdown-link-disabled-color: rgba(113, 132, 173, 0.5);
            --bs-dropdown-item-padding-x: 1rem;
            --bs-dropdown-item-padding-y: 0.25rem;
            --bs-dropdown-header-color: rgb(75, 85, 99);
            --bs-dropdown-header-padding-x: 1rem;
            --bs-dropdown-header-padding-y: 0.5rem;
            position: absolute;
            z-index: 1000;
            display: none;
            font-size: 14px;
            color: rgb(113, 132, 173);
            text-align: left;
            list-style: outside none none;
            -webkit-background-clip: padding-box;
            box-sizing: border-box;
            -webkit-background-clip: padding-box;
        }

        .style-75 {
            padding: 10px 20px;
            margin: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-76 {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-77 {
            font-size: 14px;
            margin-right: 10px;
            height: 35px;
            width: 35px;
            border-radius: 50px;
            color: rgb(255, 255, 255);
            text-align: center;
            outline: rgb(255, 255, 255) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-78 {
            max-width: 35px;
            display: block;
            border-radius: 100px;
            outline: rgb(255, 255, 255) none 0px;
            padding: 0px;
            vertical-align: middle;
            box-sizing: border-box;
        }

        .style-79 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-80 {
            margin-bottom: 0px;
            outline: rgb(31, 44, 115) none 0px;
            padding: 0px;
            font-size: 16px;
            margin-top: 0px;
            font-weight: 500;
            line-height: 25.6px;
            color: rgb(31, 44, 115);
            box-sizing: border-box;
        }

        .style-81 {
            font-size: 14px;
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-82 {
            padding: 10px 20px;
            border-top: 0.8px solid rgb(229, 234, 239);
            font-weight: 400;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            color: rgb(113, 132, 173);
            text-decoration: none solid rgb(113, 132, 173);
            outline: rgb(113, 132, 173) none 0px;
            width: 100%;
            clear: both;
            text-align: left;
            white-space: nowrap;
            background-color: rgba(0, 0, 0, 0);
            border: 0px;
            border-radius: 0px;
            box-sizing: border-box;
        }

        .style-83 {
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-84 {
            margin-right: 10px;
            font-size: 18px;
            color: rgb(47, 44, 216);
            font-weight: 700;
            line-height: 0px;
            outline: rgb(47, 44, 216) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-85 {
            padding: 10px 20px;
            border-top: 0.8px solid rgb(229, 234, 239);
            font-weight: 400;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            color: rgb(113, 132, 173);
            text-decoration: none solid rgb(113, 132, 173);
            outline: rgb(113, 132, 173) none 0px;
            width: 100%;
            clear: both;
            text-align: left;
            white-space: nowrap;
            background-color: rgba(0, 0, 0, 0);
            border: 0px;
            border-radius: 0px;
            box-sizing: border-box;
        }

        .style-86 {
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-87 {
            margin-right: 10px;
            font-size: 18px;
            color: rgb(47, 44, 216);
            font-weight: 700;
            line-height: 0px;
            outline: rgb(47, 44, 216) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-88 {
            padding: 10px 20px;
            border-top: 0.8px solid rgb(229, 234, 239);
            font-weight: 400;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            color: rgb(113, 132, 173);
            text-decoration: none solid rgb(113, 132, 173);
            outline: rgb(113, 132, 173) none 0px;
            width: 100%;
            clear: both;
            text-align: left;
            white-space: nowrap;
            background-color: rgba(0, 0, 0, 0);
            border: 0px;
            border-radius: 0px;
            box-sizing: border-box;
        }

        .style-89 {
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-90 {
            margin-right: 10px;
            font-size: 18px;
            color: rgb(47, 44, 216);
            font-weight: 700;
            line-height: 0px;
            outline: rgb(47, 44, 216) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-91 {
            color: rgb(220, 38, 38);
            padding: 10px 20px;
            border-top: 0.8px solid rgb(229, 234, 239);
            font-weight: 400;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            text-decoration: none solid rgb(220, 38, 38);
            outline: rgb(220, 38, 38) none 0px;
            width: 100%;
            clear: both;
            text-align: left;
            white-space: nowrap;
            background-color: rgba(0, 0, 0, 0);
            border: 0px;
            border-radius: 0px;
            box-sizing: border-box;
        }

        .style-92 {
            outline: rgb(220, 38, 38) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-93 {
            margin-right: 10px;
            font-size: 18px;
            color: rgb(220, 38, 38);
            font-weight: 700;
            line-height: 0px;
            outline: rgb(220, 38, 38) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        /* base.css */
.show-menu {
    display: block;
}

