

        .style-145 {
            min-height: 792px;
            margin-left: 80px;
            margin-bottom: 50px;
            margin: 0px 0px 50px 80px;
            padding: 0px;
            margin-right: 0px;
            margin-top: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-146 {
            max-width: 1320px;
            margin: 0px 41.6px;
            padding: 0px 15px;
            outline: rgb(113, 132, 173) none 0px;
            --bs-gutter-x: 30px;
            --bs-gutter-y: 0;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            box-sizing: border-box;
        }

        .style-147 {
            margin: 0px -15px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            --bs-gutter-x: 30px;
            --bs-gutter-y: 0;
            display: flex;
            flex-wrap: wrap;
            margin-top: 0px;
            margin-right: -15px;
            margin-left: -15px;
            box-sizing: border-box;
        }

        .style-148 {
            margin: 0px;
            padding: 0px 15px;
            outline: rgb(113, 132, 173) none 0px;
            -webkit-box-flex: 0;
            flex: 0 0 auto;
            width: 100%;
            flex-shrink: 0;
            max-width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-149 {
            margin-bottom: 30px;
            background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
            border-radius: 6px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-150 {
            margin: 0px -15px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            justify-content: space-between;
            --bs-gutter-x: 30px;
            --bs-gutter-y: 0;
            display: flex;
            flex-wrap: wrap;
            margin-top: 0px;
            margin-right: -15px;
            margin-left: -15px;
            box-sizing: border-box;
        }

        .style-151 {
            -webkit-box-flex: 0;
            flex: 0 0 auto;
            width: 33.3333%;
            margin: 0px;
            padding: 0px 15px;
            outline: rgb(113, 132, 173) none 0px;
            flex-shrink: 0;
            max-width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-152 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-153 {
            font-size: 24px;
            margin-bottom: 0px;
            outline: rgb(31, 44, 115) none 0px;
            padding: 0px;
            margin-top: 0px;
            font-weight: 500;
            line-height: 38.4px;
            color: rgb(31, 44, 115);
            box-sizing: border-box;
        }

        .style-154 {
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            margin-bottom: 8px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-155 {
            margin: 0px;
            padding: 0px 15px;
            outline: rgb(113, 132, 173) none 0px;
            -webkit-box-flex: 0;
            flex: 0 0 auto;
            width: auto;
            flex-shrink: 0;
            max-width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-156 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-157 {
            color: rgb(113, 132, 173);
            display: inline-block;
            font-size: 14px;
            text-decoration: none solid rgb(113, 132, 173);
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-158 {
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-159 {
            margin: 0px 10px;
            font-size: 20px;
            line-height: 0px;
            position: relative;
            top: 5px;
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-160 {
            color: rgb(113, 132, 173);
            display: inline-block;
            font-size: 14px;
            text-decoration: none solid rgb(113, 132, 173);
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-161 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-162 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            --bs-gutter-y: 0;
            --bs-gutter-x: 0;
            display: flex;
            flex-wrap: wrap;
            margin-top: 0px;
            margin-right: 0px;
            margin-left: 0px;
            box-sizing: border-box;
        }

        .style-163 {
            -webkit-box-flex: 0;
            flex: 0 0 auto;
            width: 25%;
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            flex-shrink: 0;
            max-width: 100%;
            padding-right: 0px;
            padding-left: 0px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-164 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            display: block;
            --bs-nav-link-padding-x: 1rem;
            --bs-nav-link-padding-y: 0.5rem;
            --bs-nav-link-font-weight: ;
            --bs-nav-link-color: #2F2CD8;
            --bs-nav-link-hover-color: #2623ad;
            --bs-nav-link-disabled-color: rgba(113, 132, 173, 0.75);
            flex-wrap: wrap;
            padding-left: 0px;
            margin-bottom: 0px;
            list-style: outside none none;
            box-sizing: border-box;
        }

        .style-165 {
            margin: 0px -15px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            --bs-gutter-x: 30px;
            --bs-gutter-y: 0;
            display: flex;
            flex-wrap: wrap;
            margin-top: 0px;
            margin-right: -15px;
            margin-left: -15px;
            box-sizing: border-box;
        }

        .style-166 {
            -webkit-box-flex: 0;
            flex: 0 0 auto;
            width: 100%;
            margin: 0px;
            padding: 0px 15px;
            outline: rgb(113, 132, 173) none 0px;
            flex-shrink: 0;
            max-width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-167 {
            background: rgb(47, 44, 216) none repeat scroll 0% 0% / auto padding-box border-box;
            padding: 20px;
            cursor: pointer;
            border-radius: 6px;
            position: relative;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
            margin-bottom: 20px;
            margin: 0px 0px 20px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-168 {
            background: rgb(35, 33, 176) none repeat scroll 0% 0% / auto padding-box border-box;
            width: 50px;
            height: 50px;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            border-radius: 100%;
            font-size: 20px;
            color: rgb(255, 255, 255);
            margin-right: 12px;
            margin: 0px 12px 0px 0px;
            padding: 0px;
            outline: rgb(255, 255, 255) none 0px;
            box-sizing: border-box;
        }

        .style-169 {
            outline: rgb(255, 255, 255) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-170 {
            line-height: 0px;
            outline: rgb(255, 255, 255) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-171 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-172 {
            font-size: 18px;
            margin-bottom: 0px;
            color: rgb(255, 255, 255);
            outline: rgb(255, 255, 255) none 0px;
            padding: 0px;
            margin-top: 0px;
            font-weight: 500;
            line-height: 28.8px;
            box-sizing: border-box;
        }

        .style-173 {
            color: rgb(255, 255, 255);
            opacity: 0.85;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 0px;
            outline: rgb(255, 255, 255) none 0px;
            padding: 0px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-174 {
            -webkit-box-flex: 0;
            flex: 0 0 auto;
            width: 100%;
            margin: 0px;
            padding: 0px 15px;
            outline: rgb(113, 132, 173) none 0px;
            flex-shrink: 0;
            max-width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-175 {
            background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
            padding: 20px;
            cursor: pointer;
            border-radius: 6px;
            position: relative;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
            margin-bottom: 20px;
            margin: 0px 0px 20px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-176 {
            background: rgb(225, 225, 249) none repeat scroll 0% 0% / auto padding-box border-box;
            width: 50px;
            height: 50px;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            border-radius: 100%;
            font-size: 20px;
            color: rgb(47, 44, 216);
            margin-right: 12px;
            margin: 0px 12px 0px 0px;
            padding: 0px;
            outline: rgb(47, 44, 216) none 0px;
            box-sizing: border-box;
        }

        .style-177 {
            outline: rgb(47, 44, 216) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-178 {
            line-height: 0px;
            outline: rgb(47, 44, 216) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-179 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-180 {
            font-size: 18px;
            margin-bottom: 0px;
            outline: rgb(31, 44, 115) none 0px;
            padding: 0px;
            margin-top: 0px;
            font-weight: 500;
            line-height: 28.8px;
            color: rgb(31, 44, 115);
            box-sizing: border-box;
        }

        .style-181 {
            color: rgb(113, 132, 173);
            opacity: 0.85;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 0px;
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-182 {
            -webkit-box-flex: 0;
            flex: 0 0 auto;
            width: 100%;
            margin: 0px;
            padding: 0px 15px;
            outline: rgb(113, 132, 173) none 0px;
            flex-shrink: 0;
            max-width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-183 {
            background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
            padding: 20px;
            cursor: pointer;
            border-radius: 6px;
            position: relative;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
            margin-bottom: 20px;
            margin: 0px 0px 20px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-184 {
            background: rgb(225, 225, 249) none repeat scroll 0% 0% / auto padding-box border-box;
            width: 50px;
            height: 50px;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            border-radius: 100%;
            font-size: 20px;
            color: rgb(47, 44, 216);
            margin-right: 12px;
            margin: 0px 12px 0px 0px;
            padding: 0px;
            outline: rgb(47, 44, 216) none 0px;
            box-sizing: border-box;
        }

        .style-185 {
            outline: rgb(47, 44, 216) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-186 {
            line-height: 0px;
            outline: rgb(47, 44, 216) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-187 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-188 {
            font-size: 18px;
            margin-bottom: 0px;
            outline: rgb(31, 44, 115) none 0px;
            padding: 0px;
            margin-top: 0px;
            font-weight: 500;
            line-height: 28.8px;
            color: rgb(31, 44, 115);
            box-sizing: border-box;
        }

        .style-189 {
            color: rgb(113, 132, 173);
            opacity: 0.85;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 0px;
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-190 {
            -webkit-box-flex: 0;
            flex: 0 0 auto;
            width: 100%;
            margin: 0px;
            padding: 0px 15px;
            outline: rgb(113, 132, 173) none 0px;
            flex-shrink: 0;
            max-width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-191 {
            background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
            padding: 20px;
            cursor: pointer;
            border-radius: 6px;
            position: relative;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
            margin-bottom: 20px;
            margin: 0px 0px 20px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-192 {
            background: rgb(225, 225, 249) none repeat scroll 0% 0% / auto padding-box border-box;
            width: 50px;
            height: 50px;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            border-radius: 100%;
            font-size: 20px;
            color: rgb(47, 44, 216);
            margin-right: 12px;
            margin: 0px 12px 0px 0px;
            padding: 0px;
            outline: rgb(47, 44, 216) none 0px;
            box-sizing: border-box;
        }

        .style-193 {
            outline: rgb(47, 44, 216) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-194 {
            line-height: 0px;
            outline: rgb(47, 44, 216) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-195 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-196 {
            font-size: 18px;
            margin-bottom: 0px;
            outline: rgb(31, 44, 115) none 0px;
            padding: 0px;
            margin-top: 0px;
            font-weight: 500;
            line-height: 28.8px;
            color: rgb(31, 44, 115);
            box-sizing: border-box;
        }

        .style-197 {
            color: rgb(113, 132, 173);
            opacity: 0.85;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 0px;
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-198 {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            padding: 15px 20px;
            background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
            box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
            border-radius: 6px;
            margin: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-199 {
            outline: rgb(31, 44, 115) none 0px;
            padding: 0px;
            margin-bottom: 0px;
            font-size: 16px;
            margin-top: 0px;
            font-weight: 500;
            line-height: 25.6px;
            color: rgb(31, 44, 115);
            box-sizing: border-box;
        }

        .style-200 {
            color: rgb(47, 44, 216);
            text-decoration: none solid rgb(47, 44, 216);
            outline: rgb(47, 44, 216) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-201 {
            line-height: 0px;
            outline: rgb(47, 44, 216) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-202 {
            -webkit-box-flex: 0;
            flex: 0 0 auto;
            width: 75%;
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            flex-shrink: 0;
            max-width: 100%;
            padding-right: 0px;
            padding-left: 0px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-203 {
            padding-left: 30px;
            margin: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-204 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            display: block;
            box-sizing: border-box;
        }

        .style-205 {
            padding: 16px 20px;
            background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
            margin-bottom: 30px;
            border-radius: 6px;
            box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
            margin: 0px 0px 30px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-206 {
            font-size: 20px;
            margin-bottom: 0px;
            outline: rgb(31, 44, 115) none 0px;
            padding: 0px;
            margin-top: 0px;
            font-weight: 500;
            line-height: 32px;
            color: rgb(31, 44, 115);
            box-sizing: border-box;
        }

        .style-207 {
            margin: 0px -15px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            --bs-gutter-x: 30px;
            --bs-gutter-y: 0;
            display: flex;
            flex-wrap: wrap;
            margin-top: 0px;
            margin-right: -15px;
            margin-left: -15px;
            box-sizing: border-box;
        }

        .style-208 {
            -webkit-box-flex: 0;
            flex: 0 0 auto;
            width: 50%;
            margin: 0px;
            padding: 0px 15px;
            outline: rgb(113, 132, 173) none 0px;
            flex-shrink: 0;
            max-width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-209 {
            border: 0px solid rgb(229, 234, 239);
            margin-bottom: 30px;
            border-radius: 6px;
            box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
            background-color: rgb(255, 255, 255);
            margin: 0px 0px 30px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            --bs-card-spacer-y: 1rem;
            --bs-card-spacer-x: 1rem;
            --bs-card-title-spacer-y: 0.5rem;
            --bs-card-title-color: ;
            --bs-card-subtitle-color: ;
            --bs-card-border-width: 1px;
            --bs-card-border-color: rgba(0, 0, 0, 0.175);
            --bs-card-border-radius: 6px;
            --bs-card-box-shadow: ;
            --bs-card-inner-border-radius: calc(6px - (1px));
            --bs-card-cap-padding-y: 0.5rem;
            --bs-card-cap-padding-x: 1rem;
            --bs-card-cap-bg: rgba(113, 132, 173, 0.03);
            --bs-card-cap-color: ;
            --bs-card-height: ;
            --bs-card-color: ;
            --bs-card-bg: #F6F9FC;
            --bs-card-img-overlay-padding: 1rem;
            --bs-card-group-margin: 15px;
            position: relative;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            min-width: 0px;
            height: 200.4px;
            color: rgb(113, 132, 173);
            overflow-wrap: break-word;
            -webkit-background-clip: border-box;
            box-sizing: border-box;
            -webkit-background-clip: border-box;
        }

        .style-210 {
            padding: 20px;
            background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
            margin: 0px;
            outline: rgb(113, 132, 173) none 0px;
            -webkit-box-flex: 1;
            flex: 1 1 auto;
            color: rgb(113, 132, 173);
            box-sizing: border-box;
        }

        .style-211 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-212 {
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            margin-bottom: 0px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-213 {
            font-size: 30px;
            outline: rgb(31, 44, 115) none 0px;
            padding: 0px;
            margin-top: 0px;
            margin-bottom: 8px;
            font-weight: 500;
            line-height: 48px;
            color: rgb(31, 44, 115);
            box-sizing: border-box;
        }

        .style-214 {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            border-bottom: 0.8px solid rgb(229, 234, 239);
            padding: 10px 0px;
            margin: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-215 {
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            margin-bottom: 0px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-216 {
            margin-bottom: 0px;
            outline: rgb(31, 44, 115) none 0px;
            padding: 0px;
            font-size: 16px;
            margin-top: 0px;
            font-weight: 500;
            line-height: 25.6px;
            color: rgb(31, 44, 115);
            box-sizing: border-box;
        }

        .style-217 {
            padding-bottom: 0px;
            border: 0px none rgb(113, 132, 173);
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            border-bottom: 0px none rgb(113, 132, 173);
            margin: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-218 {
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            margin-bottom: 0px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-219 {
            margin-bottom: 0px;
            outline: rgb(31, 44, 115) none 0px;
            padding: 0px;
            font-size: 16px;
            margin-top: 0px;
            font-weight: 500;
            line-height: 25.6px;
            color: rgb(31, 44, 115);
            box-sizing: border-box;
        }

        .style-220 {
            -webkit-box-flex: 0;
            flex: 0 0 auto;
            width: 50%;
            margin: 0px;
            padding: 0px 15px;
            outline: rgb(113, 132, 173) none 0px;
            flex-shrink: 0;
            max-width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-221 {
            background: rgb(30, 27, 75) none repeat scroll 0% 0% / auto padding-box border-box;
            padding: 20px;
            border-radius: 6px;
            margin-bottom: 30px;
            position: relative;
            overflow: hidden;
            margin: 0px 0px 30px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-222 {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-223 {
            color: rgb(113, 132, 173);
            font-size: 14px;
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            margin-top: 0px;
            margin-bottom: 8px;
            font-weight: 500;
            line-height: 22.4px;
            box-sizing: border-box;
        }

        .style-224 {
            max-width: 100%;
            display: block;
            height: 30px;
            padding: 4px 6px;
            border-radius: 8px;
            outline: rgb(113, 132, 173) none 0px;
            vertical-align: middle;
            box-sizing: border-box;
        }

        .style-225 {
            padding: 32px 0px;
            margin: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-226 {
            display: inline-block;
            margin-right: 20px;
            color: rgb(255, 255, 255);
            font-size: 20px;
            outline: rgb(255, 255, 255) none 0px;
            padding: 0px;
            margin-top: 0px;
            margin-bottom: 8px;
            font-weight: 500;
            line-height: 32px;
            box-sizing: border-box;
        }

        .style-227 {
            display: inline-block;
            margin-right: 20px;
            color: rgb(255, 255, 255);
            font-size: 20px;
            outline: rgb(255, 255, 255) none 0px;
            padding: 0px;
            margin-top: 0px;
            margin-bottom: 8px;
            font-weight: 500;
            line-height: 32px;
            box-sizing: border-box;
        }

        .style-228 {
            display: inline-block;
            margin-right: 20px;
            color: rgb(255, 255, 255);
            font-size: 20px;
            outline: rgb(255, 255, 255) none 0px;
            padding: 0px;
            margin-top: 0px;
            margin-bottom: 8px;
            font-weight: 500;
            line-height: 32px;
            box-sizing: border-box;
        }

        .style-229 {
            display: inline-block;
            margin-right: 20px;
            color: rgb(255, 255, 255);
            font-size: 20px;
            outline: rgb(255, 255, 255) none 0px;
            padding: 0px;
            margin-top: 0px;
            margin-bottom: 8px;
            font-weight: 500;
            line-height: 32px;
            box-sizing: border-box;
        }

        .style-230 {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-231 {
            color: rgb(255, 255, 255);
            margin-bottom: 0px;
            outline: rgb(255, 255, 255) none 0px;
            padding: 0px;
            font-size: 16px;
            margin-top: 0px;
            font-weight: 500;
            line-height: 25.6px;
            box-sizing: border-box;
        }

        .style-232 {
            color: rgb(255, 255, 255);
            margin: 0px;
            padding: 0px;
            outline: rgb(255, 255, 255) none 0px;
            box-sizing: border-box;
        }

        .style-233 {
            outline: rgb(255, 255, 255) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-234 {
            color: rgb(255, 255, 255);
            outline: rgb(255, 255, 255) none 0px;
            padding: 0px;
            font-weight: 700;
            box-sizing: border-box;
        }

        .style-235 {
            padding: 15px 20px 20px;
            border-radius: 0px;
            position: absolute;
            bottom: -200px;
            left: 0px;
            right: 0px;
            z-index: 1;
            transition: all 0.15s ease-in-out 0s;
            margin: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-236 {
            margin: 0px -15px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            justify-content: space-between;
            --bs-gutter-x: 30px;
            --bs-gutter-y: 0;
            display: flex;
            flex-wrap: wrap;
            margin-top: 0px;
            margin-right: -15px;
            margin-left: -15px;
            box-sizing: border-box;
        }

        .style-237 {
            margin: 0px;
            padding: 0px 15px;
            outline: rgb(113, 132, 173) none 0px;
            -webkit-box-flex: 0;
            flex: 0 0 auto;
            width: 41.6667%;
            flex-shrink: 0;
            max-width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-238 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            display: flex;
            box-sizing: border-box;
        }

        .style-239 {
            margin-bottom: 0px;
            margin-top: 5px;
            color: rgba(255, 255, 255, 0.5);
            outline: rgba(255, 255, 255, 0.5) none 0px;
            padding: 0px;
            margin-right: 16px;
            box-sizing: border-box;
        }

        .style-240 {
            margin-bottom: 0px;
            margin-top: 5px;
            color: rgba(255, 255, 255, 0.5);
            outline: rgba(255, 255, 255, 0.5) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-241 {
            color: rgb(255, 255, 255);
            opacity: 1;
            outline: rgb(255, 255, 255) none 0px;
            padding: 0px;
            font-weight: 700;
            box-sizing: border-box;
        }

        .style-242 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            display: flex;
            box-sizing: border-box;
        }

        .style-243 {
            margin-bottom: 0px;
            margin-top: 5px;
            color: rgba(255, 255, 255, 0.5);
            outline: rgba(255, 255, 255, 0.5) none 0px;
            padding: 0px;
            margin-right: 16px;
            box-sizing: border-box;
        }

        .style-244 {
            margin-bottom: 0px;
            margin-top: 5px;
            color: rgba(255, 255, 255, 0.5);
            outline: rgba(255, 255, 255, 0.5) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-245 {
            color: rgb(255, 255, 255);
            opacity: 1;
            outline: rgb(255, 255, 255) none 0px;
            padding: 0px;
            font-weight: 700;
            box-sizing: border-box;
        }

        .style-246 {
            -webkit-box-flex: 0;
            flex: 0 0 auto;
            width: 58.3333%;
            margin: 0px;
            padding: 0px 15px;
            outline: rgb(113, 132, 173) none 0px;
            flex-shrink: 0;
            max-width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-247 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            -webkit-box-pack: justify;
            justify-content: space-between;
            display: flex;
            box-sizing: border-box;
        }

        .style-248 {
            margin: 0px 0px 0px 16px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            margin-left: 16px;
            box-sizing: border-box;
        }

        .style-249 {
            margin-bottom: 0px;
            margin-top: 5px;
            color: rgba(255, 255, 255, 0.5);
            outline: rgba(255, 255, 255, 0.5) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-250 {
            margin-bottom: 0px;
            margin-top: 5px;
            color: rgba(255, 255, 255, 0.5);
            outline: rgba(255, 255, 255, 0.5) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-251 {
            color: rgb(255, 255, 255);
            opacity: 1;
            outline: rgb(255, 255, 255) none 0px;
            padding: 0px;
            font-weight: 700;
            box-sizing: border-box;
        }

        .style-252 {
            position: relative;
            display: block;
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-253 {
            -webkit-box-flex: 0;
            flex: 0 0 auto;
            width: 50%;
            margin: 0px;
            padding: 0px 15px;
            outline: rgb(113, 132, 173) none 0px;
            flex-shrink: 0;
            max-width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-254 {
            background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
            padding: 20px;
            border-radius: 6px;
            position: relative;
            margin-bottom: 30px;
            box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
            margin: 0px 0px 30px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-255 {
            margin-bottom: 0px;
            font-size: 14px;
            outline: rgb(31, 44, 115) none 0px;
            padding: 0px;
            margin-top: 0px;
            font-weight: 500;
            line-height: 22.4px;
            color: rgb(31, 44, 115);
            box-sizing: border-box;
        }

        .style-256 {
            font-size: 28px;
            margin: 10px 0px;
            outline: rgb(31, 44, 115) none 0px;
            padding: 0px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: 500;
            line-height: 44.8px;
            color: rgb(31, 44, 115);
            box-sizing: border-box;
        }

        .style-257 {
            border-top: 0.8px solid rgb(229, 234, 239);
            padding-top: 10px;
            color: rgb(113, 132, 173);
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 0px;
            outline: rgb(113, 132, 173) none 0px;
            padding: 10px 0px 0px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-258 {
            outline: rgb(18, 163, 71) none 0px;
            padding: 0px;
            --bs-text-opacity: 1;
            color: rgb(18, 163, 71);
            box-sizing: border-box;
        }

        .style-259 {
            font-size: 18px;
            line-height: 0px;
            margin-right: 5px;
            position: relative;
            top: 3px;
            outline: rgb(18, 163, 71) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-260 {
            color: rgb(113, 132, 173);
            font-weight: 500;
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-261 {
            -webkit-box-flex: 0;
            flex: 0 0 auto;
            width: 50%;
            margin: 0px;
            padding: 0px 15px;
            outline: rgb(113, 132, 173) none 0px;
            flex-shrink: 0;
            max-width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-262 {
            background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
            padding: 20px;
            border-radius: 6px;
            position: relative;
            margin-bottom: 30px;
            box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
            margin: 0px 0px 30px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
        }

        .style-263 {
            margin-bottom: 0px;
            font-size: 14px;
            outline: rgb(31, 44, 115) none 0px;
            padding: 0px;
            margin-top: 0px;
            font-weight: 500;
            line-height: 22.4px;
            color: rgb(31, 44, 115);
            box-sizing: border-box;
        }

        .style-264 {
            font-size: 28px;
            margin: 10px 0px;
            outline: rgb(31, 44, 115) none 0px;
            padding: 0px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: 500;
            line-height: 44.8px;
            color: rgb(31, 44, 115);
            box-sizing: border-box;
        }

        .style-265 {
            border-top: 0.8px solid rgb(229, 234, 239);
            padding-top: 10px;
            color: rgb(113, 132, 173);
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 0px;
            outline: rgb(113, 132, 173) none 0px;
            padding: 10px 0px 0px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-266 {
            outline: rgb(18, 163, 71) none 0px;
            padding: 0px;
            --bs-text-opacity: 1;
            color: rgb(18, 163, 71);
            box-sizing: border-box;
        }

        .style-267 {
            font-size: 18px;
            line-height: 0px;
            margin-right: 5px;
            position: relative;
            top: 3px;
            outline: rgb(18, 163, 71) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-268 {
            color: rgb(113, 132, 173);
            font-weight: 500;
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .style-269 {
            -webkit-box-flex: 0;
            flex: 0 0 auto;
            width: 100%;
            margin: 0px;
            padding: 0px 15px;
            outline: rgb(113, 132, 173) none 0px;
            flex-shrink: 0;
            max-width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-top: 0px;
            box-sizing: border-box;
        }

        .style-270 {
            border: 0px solid rgb(229, 234, 239);
            margin-bottom: 30px;
            border-radius: 6px;
            box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
            background-color: rgb(255, 255, 255);
            margin: 0px 0px 30px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            --bs-card-spacer-y: 1rem;
            --bs-card-spacer-x: 1rem;
            --bs-card-title-spacer-y: 0.5rem;
            --bs-card-title-color: ;
            --bs-card-subtitle-color: ;
            --bs-card-border-width: 1px;
            --bs-card-border-color: rgba(0, 0, 0, 0.175);
            --bs-card-border-radius: 6px;
            --bs-card-box-shadow: ;
            --bs-card-inner-border-radius: calc(6px - (1px));
            --bs-card-cap-padding-y: 0.5rem;
            --bs-card-cap-padding-x: 1rem;
            --bs-card-cap-bg: rgba(113, 132, 173, 0.03);
            --bs-card-cap-color: ;
            --bs-card-height: ;
            --bs-card-color: ;
            --bs-card-bg: #F6F9FC;
            --bs-card-img-overlay-padding: 1rem;
            --bs-card-group-margin: 15px;
            position: relative;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            min-width: 0px;
            height: 333.8px;
            color: rgb(113, 132, 173);
            overflow-wrap: break-word;
            -webkit-background-clip: border-box;
            box-sizing: border-box;
            -webkit-background-clip: border-box;
        }

        .style-271 {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            border-bottom: 0px solid rgb(229, 234, 239);
            background-color: rgba(0, 0, 0, 0);
            padding: 20px 20px 0px;
            margin: 0px;
            outline: rgb(113, 132, 173) none 0px;
            border-radius: 5px 5px 0px 0px;
            margin-bottom: 0px;
            color: rgb(113, 132, 173);
            box-sizing: border-box;
        }

        .style-272 {
            font-size: 18px;
            margin-bottom: 0px;
            color: rgb(31, 44, 115);
            outline: rgb(31, 44, 115) none 0px;
            padding: 0px;
            margin-top: 0px;
            font-weight: 500;
            line-height: 28.8px;
            box-sizing: border-box;
        }

        .style-273 {
            padding: 20px;
            background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
            margin: 0px;
            outline: rgb(113, 132, 173) none 0px;
            -webkit-box-flex: 1;
            flex: 1 1 auto;
            color: rgb(113, 132, 173);
            box-sizing: border-box;
        }

        .style-274 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
            position: absolute;
            direction: ltr;
            inset: 0px;
            overflow: hidden;
            pointer-events: none;
            visibility: hidden;
            z-index: -1;
        }

        .style-275 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
            position: absolute;
            direction: ltr;
            inset: 0px;
            overflow: hidden;
            pointer-events: none;
            visibility: hidden;
            z-index: -1;
        }

        .style-276 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
            position: absolute;
            width: 1e+06px;
            height: 1e+06px;
            left: 0px;
            top: 0px;
        }

        .style-277 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
            position: absolute;
            direction: ltr;
            inset: 0px;
            overflow: hidden;
            pointer-events: none;
            visibility: hidden;
            z-index: -1;
        }

        .style-278 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
            position: absolute;
            width: 200%;
            height: 667.6px;
            left: 0px;
            top: 0px;
        }

        .style-279 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
            position: absolute;
            direction: ltr;
            inset: 0px;
            overflow: hidden;
            pointer-events: none;
            visibility: hidden;
            z-index: -1;
        }

        .style-280 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
            position: absolute;
            direction: ltr;
            inset: 0px;
            overflow: hidden;
            pointer-events: none;
            visibility: hidden;
            z-index: -1;
        }

        .style-281 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
            position: absolute;
            width: 1e+06px;
            height: 1e+06px;
            left: 0px;
            top: 0px;
        }

        .style-282 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
            position: absolute;
            direction: ltr;
            inset: 0px;
            overflow: hidden;
            pointer-events: none;
            visibility: hidden;
            z-index: -1;
        }

        .style-283 {
            margin: 0px;
            padding: 0px;
            outline: rgb(113, 132, 173) none 0px;
            box-sizing: border-box;
            position: absolute;
            width: 200%;
            height: 667.6px;
            left: 0px;
            top: 0px;
        }

        .style-284 {
            display: block;
            height: 245px;
            width: 898px;
            height: 245px;
            width: 898px;
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            box-sizing: border-box;
            animation: 0.001s ease 0s 1 normal none running chartjs-render-animation;
        }

        .style-285 {
    flex: 0 0 auto;
    width: 100%;
    margin: 0px;
    padding: 0px 15px;
    outline: rgb(113, 132, 173) none 0px;
    flex-shrink: 0;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 0px;
    box-sizing: border-box;
}

.style-286 {
    border: 0px solid rgb(229, 234, 239);
    margin-bottom: 30px;
    border-radius: 6px;
    box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
    background-color: rgb(255, 255, 255);
    margin: 0px 0px 30px;
    padding: 0px;
    outline: rgb(113, 132, 173) none 0px;
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: 1px;
    --bs-card-border-color: rgba(0, 0, 0, 0.175);
    --bs-card-border-radius: 6px;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(6px - (1px));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(113, 132, 173, 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #F6F9FC;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 15px;
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0px;
    color: rgb(113, 132, 173);
    overflow-wrap: break-word;
    -webkit-background-clip: border-box;
    box-sizing: border-box;
    -webkit-background-clip: border-box;
}

.style-287 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0px solid rgb(229, 234, 239);
    background-color: rgba(0, 0, 0, 0);
    padding: 20px 20px 0px;
    margin: 0px;
    outline: rgb(113, 132, 173) none 0px;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 0px;
    color: rgb(113, 132, 173);
    box-sizing: border-box;
}

.style-288 {
    font-size: 18px;
    margin-bottom: 0px;
    color: rgb(31, 44, 115);
    outline: rgb(31, 44, 115) none 0px;
    padding: 0px;
    margin-top: 0px;
    font-weight: 500;
    line-height: 28.8px;
    box-sizing: border-box;
}

.style-289 {
    padding: 20px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    margin: 0px;
    outline: rgb(113, 132, 173) none 0px;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    color: rgb(113, 132, 173);
    box-sizing: border-box;
}

.style-290 {
    margin: 0px;
    padding: 0px;
    outline: rgb(113, 132, 173) none 0px;
    box-sizing: border-box;
}

.style-291 {
    margin: 0px;
    padding: 0px;
    outline: rgb(113, 132, 173) none 0px;
    overflow-x: auto;
    box-sizing: border-box;
}

.style-292 {
    margin-bottom: 0px;
    min-width: 768px;
    outline: rgb(113, 132, 173) none 0px;
    padding: 0px;
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: #000;
    --bs-table-bg: #F6F9FC;
    --bs-table-border-color: rgb(229, 234, 239);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #000;
    --bs-table-striped-bg: #F6F9FC;
    --bs-table-active-color: #000;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #000;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    vertical-align: top;
    border-color: rgb(229, 234, 239);
    caption-side: bottom;
    border-collapse: collapse;
    box-sizing: border-box;
}

.style-293 {
    outline: rgb(113, 132, 173) none 0px;
    padding: 0px;
    vertical-align: bottom;
    border-color: rgb(229, 234, 239);
    border-style: solid;
    border-width: 0px;
    box-sizing: border-box;
}

.style-294 {
    outline: rgb(113, 132, 173) none 0px;
    padding: 0px;
    border-color: rgb(229, 234, 239);
    border-style: solid;
    border-width: 0px;
    box-sizing: border-box;
}

.style-295 {
    color: rgb(31, 44, 115);
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 0.8px solid rgb(229, 234, 239);
    outline: rgb(31, 44, 115) none 0px;
    padding: 8px;
    border-bottom-width: 0.8px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 9999px inset;
    border-color: rgb(229, 234, 239);
    border-style: solid;
    border-width: 0px 0px 0.8px;
    text-align: left;
    box-sizing: border-box;
}

.style-296 {
    color: rgb(31, 44, 115);
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 0.8px solid rgb(229, 234, 239);
    outline: rgb(31, 44, 115) none 0px;
    padding: 8px;
    border-bottom-width: 0.8px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 9999px inset;
    border-color: rgb(229, 234, 239);
    border-style: solid;
    border-width: 0px 0px 0.8px;
    text-align: left;
    box-sizing: border-box;
}

.style-297 {
    color: rgb(31, 44, 115);
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 0.8px solid rgb(229, 234, 239);
    outline: rgb(31, 44, 115) none 0px;
    padding: 8px;
    border-bottom-width: 0.8px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 9999px inset;
    border-color: rgb(229, 234, 239);
    border-style: solid;
    border-width: 0px 0px 0.8px;
    text-align: left;
    box-sizing: border-box;
}

.style-298 {
    color: rgb(31, 44, 115);
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 0.8px solid rgb(229, 234, 239);
    outline: rgb(31, 44, 115) none 0px;
    padding: 8px;
    border-bottom-width: 0.8px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 9999px inset;
    border-color: rgb(229, 234, 239);
    border-style: solid;
    border-width: 0px 0px 0.8px;
    text-align: left;
    box-sizing: border-box;
}

.style-299 {
    text-align: right;
    color: rgb(31, 44, 115);
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 0.8px solid rgb(229, 234, 239);
    outline: rgb(31, 44, 115) none 0px;
    padding: 8px;
    border-bottom-width: 0.8px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 9999px inset;
    border-color: rgb(229, 234, 239);
    border-style: solid;
    border-width: 0px 0px 0.8px;
    box-sizing: border-box;
}

.style-300 {
    outline: rgb(113, 132, 173) none 0px;
    padding: 0px;
    vertical-align: top;
    border-color: rgb(229, 234, 239);
    border-style: solid;
    border-width: 0px;
    box-sizing: border-box;
}


        .style-301 {
            outline: rgb(113, 132, 173) none 0px;
            padding: 0px;
            border-color: rgb(229, 234, 239);
            border-style: solid;
            border-width: 0px;
            box-sizing: border-box;
        }

        .style-302 {
            background-color: rgba(0, 0, 0, 0);
            border-bottom: 0.8px solid rgb(229, 234, 239);
            vertical-align: middle;
            padding: 15px 5px;
            color: rgb(113, 132, 173);
            outline: rgb(113, 132, 173) none 0px;
            border-bottom-width: 0.8px;
            box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 9999px inset;
            border-color: rgb(229, 234, 239);
            border-style: solid;
            border-width: 0px 0px 0.8px;
            box-sizing: border-box;
        }

        .accounts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #f8f9fa;
}

.account-item {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33.333% - 40px); /* Adjust based on the desired number of columns */
    box-sizing: border-box;
}

.account-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.account-balance {
    font-size: 16px;
    color: #4caf50; /* Green color for balance */
    margin-bottom: 10px;
}

.account-opened {
    font-size: 14px;
    color: #999;
}
