{% extends "base.html" %}

{% block title %}История транзакций{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'bankapp/css/analytics_transaction_history.css' %}">
<div class="style-8">
    <div class="style-145">
        <div class="style-146">
            <div class="style-147">
                <div class="style-148">
                    <div class="style-149">
                        <div class="style-150">
                            <div class="style-151">
                                <div class="style-152">
                                    <h3 class="style-153">История транзакций</h3>
                                    <p class="style-154">Добро пожаловать в Almau Finance Management</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="style-161">
                    <div class="style-162">
                        <div class="style-163">
                            <a href="/analytics" class="style-164">Аналитика</a>
                            <a href="/analytics-expenses" class="style-165">Расходы</a>
                            <a href="/analytics-transaction-history" class="style-169">Выписка</a>
                        </div>
                        <div class="style-170">
                            <div class="summary-block">
                                <p>Номер счета: {{ selected_account.card_number }}</p>
                                <p>Период: {% if start_date and end_date %}{{ start_date|date:"d.m.Y" }} - {{ end_date|date:"d.m.Y" }}{% else %}Весь период{% endif %}</p>
                            </div>
                            <div class="summary-block">
                                <p>Поступления на счет: {{ income_total|floatformat:2 }}</p>
                                <p>Расходование денежных средств: {{ expense_total|floatformat:2 }}</p>
                            </div>
                            <div class="summary-block">
                                <p>Баланс на начало периода: {{ initial_balance|floatformat:2 }}</p>
                                <p>Остаток на конец периода: {{ final_balance|floatformat:2 }}</p>
                            </div>
                            <button id="filterButton" class="filter-button">Фильтр</button>
                            <button id="accountButton" class="filter-button">Выбор счета</button>
                            <div id="filterModal" class="modal-content">
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <form id="filterForm" method="get" action="/analytics-transaction-history">
                                        <label>
                                            <input type="radio" name="filter" value="week"> За неделю
                                        </label><br>
                                        <label>
                                            <input type="radio" name="filter" value="month"> За месяц
                                        </label><br>
                                        <label>
                                            <input type="radio" name="filter" value="three_months"> За три месяца
                                        </label><br>
                                        <label>
                                            <input type="radio" name="filter" value="half_year"> За полгода
                                        </label><br>
                                        <label>
                                            <input type="radio" name="filter" value="year"> За год
                                        </label><br>
                                        <label>
                                            <input type="radio" name="filter" value="period"> За период
                                        </label><br>
                                        <div id="customPeriod" style="display: none;">
                                            <label for="start_date">Начало периода:</label>
                                            <input type="date" id="start_date" name="start_date" class="styled-date-input"><br>
                                            <label for="end_date">Конец периода:</label>
                                            <input type="date" id="end_date" name="end_date" class="styled-date-input"><br>
                                        </div>
                                        <button type="submit" class="apply-button">Применить</button>
                                    </form>
                                </div>
                            </div>
                            <div id="accountModal" class="modal">
                                <div class="modal-content styled-modal-content">
                                    <span class="close">&times;</span>
                                    <form id="accountForm" method="get" action="/analytics-transaction-history">
                                        <div class="form-group">
                                            <label for="account">Выберите счет:</label>
                                            <select id="account" name="account" class="styled-select">
                                                {% for account in accounts %}
                                                    <option value="{{ account.account_id }}" {% if account == selected_account %}selected{% endif %}>{{ account.card_number }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <button type="submit" class="apply-button">Применить</button>
                                    </form>
                                </div>
                            </div>
                            <div class="style-171">
                                <div class="style-172">
                                    <div class="style-173">
                                        <h4 class="style-174">Выписка транзакций</h4>
                                    </div>
                                    <div class="style-175">
                                        <div class="style-176">
                                            <div class="style-177">
                                                <table class="style-178">
                                                    <thead class="style-179">
                                                        <tr class="style-180">
                                                            <th class="style-181">Категория</th>
                                                            <th class="style-182">Дата</th>
                                                            <th class="style-183">Описание</th>
                                                            <th class="style-184">Сумма</th>
                                                            <th class="style-185">Валюта</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="style-186">
                                                        {% for transaction in transactions %}
                                                            <tr class="style-187">
                                                                <td class="style-188">
                                                                    <span class="style-189"><i class="style-190"></i> {{ transaction.translated_type }}</span>
                                                                </td>
                                                                <td class="style-191">
                                                                    {{ transaction.booking_date_time|date:"d.m.Y" }}
                                                                </td>
                                                                <td class="style-192">
                                                                    {{ transaction.description }}
                                                                </td>
                                                                <td class="style-193">
                                                                    {{ transaction.amount|floatformat:2 }}
                                                                </td>
                                                                <td class="style-194">{{ transaction.currency }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- style-171 -->
                        </div>
                    </div> <!-- style-162 -->
                </div> <!-- style-161 -->
            </div> <!-- style-146 -->
        </div> <!-- style-145 -->
    </div> <!-- style-8 -->
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const filterButton = document.getElementById('filterButton');
        const filterModal = document.getElementById('filterModal');
        const closeButton = filterModal.querySelector('.close');
        const filterForm = document.getElementById('filterForm');
        const customPeriod = document.getElementById('customPeriod');
        const periodRadio = filterForm.querySelector('input[value="period"]');

        const accountButton = document.getElementById('accountButton');
        const accountModal = document.getElementById('accountModal');
        const closeAccountButton = accountModal.querySelector('.close');

        filterModal.style.display = 'none';
        accountModal.style.display = 'none';

        const closeAllModals = () => {
            filterModal.style.display = 'none';
            accountModal.style.display = 'none';
        };

        filterButton.addEventListener('click', () => {
            closeAllModals();
            filterModal.style.display = 'block';
        });

        closeButton.addEventListener('click', () => {
            filterModal.style.display = 'none';
        });

        window.addEventListener('click', (event) => {
            if (event.target == filterModal) {
                filterModal.style.display = 'none';
            }
        });

        periodRadio.addEventListener('change', () => {
            customPeriod.style.display = 'block';
        });

        filterForm.querySelectorAll('input[name="filter"]').forEach(radio => {
            if (radio.value !== 'period') {
                radio.addEventListener('change', () => {
                    customPeriod.style.display = 'none';
                });
            }
        });

        accountButton.addEventListener('click', () => {
            closeAllModals();
            accountModal.style.display = 'block';
        });

        closeAccountButton.addEventListener('click', () => {
            accountModal.style.display = 'none';
        });

        window.addEventListener('click', (event) => {
            if (event.target == accountModal) {
                accountModal.style.display = 'none';
            }
        });
    });
</script>
{% endblock %}
