{% extends "base.html" %}

{% block title %}Профиль{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'bankapp/css/profile.css' %}">
<div class="style-8">
    <div class="style-145">
        <div class="style-146">
            <div class="style-147">
                <div class="style-148">
                    <div class="style-149">
                        <div class="style-150">
                            <div class="style-151">
                                <div class="style-152">
                                    <h3 class="style-153">Профиль</h3>
                                    <p class="style-154">Добро пожаловать в Almau Finance Management</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="style-161">
                    <div class="style-162">
                        <div class="style-163">
                            <div class="style-164">
                                <div class="style-165">
                                    <div class="style-166">
                                        <img src="{% static 'bankapp/images/avatar/1.jpg' %}" alt="" class="style-167" />
                                            <div class="style-168">
                                                <h4 class="style-169">{{ profile.full_name }}</h4>
                                                <p class="style-170">{{ profile.user.email }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="style-171">
                                        <div class="style-172">
                                            <h5 class="style-173">{{ registration_date|date:"j F Y" }}</h5>
                                            <p class="style-174">Зарегистрирован</p>
                                        </div>
                                        <span class="style-175"></span>
                                        <div class="style-176">
                                            <h5 class="style-177">Рефералы</h5>
                                            <p class="style-178">05</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
